.elementor-47 .elementor-element.elementor-element-8f3706d {--display: flex;--background-transition: .3s;}
.elementor-47 .elementor-element.elementor-element-3f98908 {--spacer-size: 50px;}
.elementor-47 .elementor-element.elementor-element-f15a463 {text-align: center;}
.elementor-47 .elementor-element.elementor-element-f15a463 .elementor-heading-title {color: #000;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-47 .elementor-element.elementor-element-4702b1a {--divider-border-style: solid;--divider-color: var(--e-global-color-accent);--divider-border-width: 2px;}
.elementor-47 .elementor-element.elementor-element-4702b1a .elementor-divider-separator {width: 100%;margin: 0 auto;margin-center: 0;}
.elementor-47 .elementor-element.elementor-element-4702b1a .elementor-divider {text-align: center;padding-top: 15px;padding-bottom: 15px;}
.elementor-47 .elementor-element.elementor-element-a61cbc6 {text-align: center;color: #000;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-47 .elementor-element.elementor-element-bc11c70 {--spacer-size: 50px;}
:root {--page-title-display: none;}