.elementor-116 .elementor-element.elementor-element-4534f8e {--display: flex;--flex-direction: column;--container-widget-width: 100%;--container-widget-height: initial;--container-widget-flex-grow: 0;--container-widget-align-self: initial;--background-transition: .3s;}
.elementor-116 .elementor-element.elementor-element-dcf0960 {--spacer-size: 50px;}
.elementor-116 .elementor-element.elementor-element-8d3276a {text-align: center;}
.elementor-116 .elementor-element.elementor-element-8d3276a .elementor-heading-title {color: #000;font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-116 .elementor-element.elementor-element-83b5d0e {text-align: center;}
.elementor-116 .elementor-element.elementor-element-83b5d0e .elementor-heading-title {color: #7ab42d;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-116 .elementor-element.elementor-element-d72b192 {--spacer-size: 50px;}
:root {--page-title-display: none;}